@model IEnumerable<Urbanizacion.Web.Data.Entities.TBL_CONJUNTO>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CON_NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CON_IDENTIFICACION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CON_TELEFONO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CON_NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CON_IDENTIFICACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CON_TELEFONO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CON_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CON_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CON_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
